body {
    background-color: #C3C2C0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

input {
    display: flex;
    height: 22px;
    width: 85%;
    padding: 0.6rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    margin: auto;
    margin-bottom: 40px;
}

input:focus {
    outline-color: #00AAFF;
    box-shadow: 0 0 30px #888888;
}

button {
    margin-bottom: 8px;
    border-radius: 4px;
    width: 95%;
    border: none;
    border-radius: 8px;
    background-color: #007AFF;
    padding: 1.2rem 2.5rem;
    font-size: 1.6rem;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background-color: #013872;
}

img {
    width: 95%;
    margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.container-principal {
    background-color: #FFF;
    margin: auto;
    padding-top: 24px;
    width: 1200px;
    text-align: center;
    box-shadow: 0px 5px 10px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.container-secundario {
    background-color: #FFF;
    margin: auto;
    margin-bottom: 70px;
    width: 95%;
    text-align: center;
    box-shadow: 0px 5px 10px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.container-prato {
    background-color: #FFF;
    margin-bottom: 40px;
    width: 25%;
    text-align: center;
    box-shadow: 0px 5px 10px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.preco {
    font-size: 32px;
    font-weight: 600;
    color: #075E0E;
    margin-bottom: 16px;
}

.pedido {
    text-align: left;
    padding-left: 40px;
    padding-bottom: 32px;
}

h4 {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    font-size: 22px;
    margin-bottom: 48px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 100px;
}

/*
Resolvi trocar esta <div> por um <h1> Estilizado
.header-title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 100px;

    <div class="header-title">
        Menu - Faça A Sua Escolha
    </div>
}
*/
