body {
    background-color: #C3C2C0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

input {
    display: flex;
    height: 22px;
    width: 85%;
    padding: 0.6rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    margin: auto;
    margin-bottom: 40px;
}

input:focus {
    outline-color: #00AAFF;
    box-shadow: 0 0 30px #888888;
}

button {
    margin-bottom: 40px;
    border-radius: 4px;
    width: 95%;
    border: none;
    border-radius: 8px;
    background-color: #007AFF;
    padding: 1.2rem 2.5rem;
    font-size: 1.6rem;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background-color: #013872;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.container-principal {
    background-color: #FFF;
    margin: auto;
    width: 1300px;
    text-align: center;
    box-shadow: 0px 5px 10px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.container-secundario {
    background-color: #FFF;
    margin: auto;
    margin-bottom: 40px;
    width: 95%;
    text-align: center;
    box-shadow: 0px 5px 10px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.container-prato {
    background-color: #FFF;
    margin: auto;
    margin-bottom: 40px;
    width: 30%;
    text-align: center;
    box-shadow: 0px 5px 10px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.header-title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}
